body {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 20px
}

main section {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 96px;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery article {
  flex: 1;
  max-width: 300px;
  min-width: 150px;
  margin: 10px;
}

.gallery article img {
  width: 100%
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  header {
    height: 200px;
  }

  h1 {
    font-size: 36px;
  }
}
